.competences .container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.competences h3{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--seconde);
}
.competences li {list-style: none;}

.competences .skill-card {
  position: relative;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow);
  cursor: help;
}

.competences .skill-card:hover .tooltip {
  transform: translateY(0);
  opacity: 1;
}


.skills-box.active .skills-list,
.skills-box .tools-list { display: none; }
 
.skills-box .skills-list,
.skills-box.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  animation: fadeIn 0.5s ease-out forwards;
}

.competences .tooltip {
    position: absolute;
    top: -40px;
    background: var(--raw-seinna);
    min-width: max-content;
    color: var(--white);
    font-size: 15px;
    font-weight: var(--fw-700);
    padding: 5px 10px;
    border-radius: var(--radius-4);
    box-shadow: 10px 10px 40px var(--card-shadow);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
    z-index: 1;
}
    
.competences .all{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
}

@keyframes fadeIn {

  0% { opacity: 0; }
  100% { opacity: 1; }

}

  
  
  